.containerHistoria {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "mainH mainH mainH" "footer footer footer"; }

.mainH {
  grid-area: mainH;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: brown;
  flex-direction: column; }

.tituloH {
  font-weight: bold;
  color: white; }

.containerTitulos {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.2fr;
  grid-template-areas: "header header header" "mainT mainT mainT" "footer footer footer"; }

.mainT {
  grid-area: mainT;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: brown;
  flex-direction: column; }

.containerPlanteles {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 0.2fr;
  grid-template-areas: "header header header" "mainP mainP mainP" "footer footer footer"; }

.mainP {
  grid-area: mainP;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: brown;
  flex-direction: column; }

.containerJugadores {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "mainJ mainJ mainJ" "footer footer footer"; }

.mainJ {
  grid-area: mainJ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: brown;
  flex-direction: column; }

/*reset*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.containerIndex {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 3fr 0.2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "section section section" "footer footer footer"; }

.tituloIndex {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 20px blue, 1px 1px 20px blue, 1px 1px 40px blue; }

.sectionIndex1 {
  grid-area: section;
  background-color: #fff6e3;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

p {
  font-weight: bold; }
  p span {
    display: block; }

header {
  grid-area: header; }

.mainI {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/WhatsApp Image 2022-04-30 at 12.11.13 AM.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

.tituloJugadores {
  color: whitesmoke;
  text-align: center;
  font-weight: bold; }

.tituloTitulos {
  color: whitesmoke;
  text-align: center;
  font-weight: bold; }

.tituloPlanteles {
  color: whitesmoke;
  text-align: center;
  font-weight: bold; }

.sanracampeon {
  width: 800px;
  border: 10px solid gold;
  border-radius: 25px; }

footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .txtFooter {
    color: white;
    font-size: 20px; }

.navbar {
  background-color: #fff6e3; }

.logo {
  width: 150px; }

.navbar-light .navbar-nav .nav-link {
  margin: 20px;
  font-size: 25px;
  font-weight: bold; }
  .navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    transition: 0.4s all; }

@media only screen and (max-width: 480px) {
  .sanracampeon {
    width: 400px; }
  .tituloIndex {
    color: whitesmoke;
    font-size: 20px; }
  .sectionIndex1 {
    font-size: 15px; } }
