@import "utilities/mixins";
@import "utilities/historia";
@import "utilities/titulos";
@import "utilities/planteles";
@import "utilities/jugadores";
/*reset*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
//grid index
.containerIndex{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr 3fr 0.2fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
                            "main main main"
                        "section section section"
                         "footer footer footer";

}
.tituloIndex{
    color: whitesmoke;
    
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 20px blue,
    1px 1px 20px blue,
    1px 1px 40px blue;
}
.sectionIndex1{
grid-area: section;
background-color: #fff6e3;
color: black;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-weight: bold;
font-size: 20px;
}
p{ 
    font-weight: bold;
    span{
        display: block;
    }
}
header{
    grid-area: header;
    
}
.mainI{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/WhatsApp\ Image\ 2022-04-30\ at\ 12.11.13\ AM.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.tituloJugadores{
    @include titulos;
}
.tituloTitulos{
    @include titulos;
}
.tituloPlanteles{
    @include titulos;
}
.sanracampeon{
    width: 600px;
    border: 2px solid gold;
    border-radius: 25px;

}
footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .txtFooter{
        color: white;
        font-size: 20px;
        
    }
}
.creditos{
    display: block;
}
.navbar{
    background-color: #fff6e3;
}
.logo{
    width: 150px
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            margin: 20px;
            font-size: 25px;
            font-weight: bold;
            &:hover{
                transform: scale(1.1);
                transition: 0.4s all;
            }
        }
    }  
}
@media only screen and (max-width: 480px){
    .sanracampeon{
        width: 400px;
    }
    .tituloIndex{
        color: whitesmoke;
        font-size: 20px;
    }
    .sectionIndex1{
        font-size: 15px;
    }
}